h1 {
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
}
#navi {
	color: white;
	width: 80px;
	border-radius: 30%;
}
.card{
	margin-left: 200px;
	margin-top:10px;
	margin-bottom: 50px;
	box-shadow: 10px 10px 5px grey;
}
body {
	color: black;
    background: url(https://media.giphy.com/media/l378AwfJ7pqLlRHr2/giphy.gif) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}